{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contacts' as contacts_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'products:all_products' as all_products_url %}
{% url 'carts:cart_home' as cart_url %}
{% url 'accounts:accounts_home' as accounts_home_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ home_url }}">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            {% if brand_name %}{{ brand_name }}{% else %}Brand{% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                    <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == about_url %}active{% endif %}">
                    <a class="nav-link" href="{{ about_url }}">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == contacts_url %}active{% endif %}">
                    <a class="nav-link" href="{{ contacts_url }}">Contacts</a>
                </li>
                <li class="nav-item {% if request.path == all_products_url %}active{% endif %}">
                    <a class="nav-link" href="{{ all_products_url }}">Products</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item {% if request.path == accounts_home_url %}active{% endif %}" href="{{ accounts_home_url }}">Home</a>
                          <a class="dropdown-item" href="{{ accounts_home_url }}#billing">Billing</a>
                          <a class="dropdown-item" href="{% url 'marketing_pref' %}">Preferences</a>
                          <a class="dropdown-item" href="{% url 'digital_library' %}">Library</a>
                          <a class="dropdown-item" href="{% url 'products:products-history' %}">History</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Group
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'groups:all' %}">Groups</a>
                            <a class="dropdown-item" href="{% url 'groups:create' %}">Create Group</a>
                            <a class="dropdown-item" href="{% url 'posts:create' %}">Post</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.path == login_url %}active{% endif %}">
                        <a class="nav-link" href="{{ login_url }}">Login</a>
                    </li>
                    <li class="nav-item {% if request.path == register_url %}active{% endif %}">
                        <a class="nav-link" href="{{ register_url }}">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                    <a class="nav-link" href="{{ cart_url }}"><span class="navbar-cart-count">{{ request.session.cart_items }}</span> <i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
            {% include 'search/snippets/search_form.html' %}
        </div>
    </div>
</nav>