<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 mx-auto">
            <div class="pagination my-3" style="float: center;">
                <span class="step-links">
                    {% if instance.has_previous %}
                        <a class="btn btn-outline-info" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-double-left"></i></a>
                        <a class="btn btn-outline-info" href="?page={{ instance.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-left"></i></a>
                    {% endif %}
                    <span class="current">
                        {% for num in instance.paginator.page_range %}
                            {% if instance.number == num %}
                                <a class="active btn btn-outline-info" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                            {% elif num > instance.number|add:'-2' and num < instance.number|add:'2' %}
                                <a class="btn btn-outline-info" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    {% if instance.has_next %}
                        <a class="btn btn-outline-info" href="?page={{ instance.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                        ><i class="fas fa-angle-right"></i></a>
                        <a class="btn btn-outline-info" href="?page={{ instance.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-double-right"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>