{% extends 'base.html' %}
{% block title_block %}Products{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="display-3">Products</h1>
        <hr>
    </div>
    {% if not product_list %}
        <p>No Products!</p>
    {% else %}
        {% for product in product_list %}
            <div class="col">
                {% include 'products/snippets/card.html' with instance=product%}
                {% if forloop.counter|divisibleby:3 %}
                    </div></div>
                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                {% else %}
                    </div>
                {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% include 'base/pagination.html' with instance=product_list %}
{% endblock %}