{% extends 'base.html' %}
{% block title_block %}Order{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="display-3">Order #{{ order.order_id }}</h1>
            <p class="lead"><a href="{% url 'orders:order-invoice' order_id=order.order_id %}?download=true">Download Invoice</a></p>
            <hr>
        </div>
        <div class="col-12">
            <p class="lead"><b>Item(s):</b> 
                {% for product in order.cart.products.all %}
                    {{ product }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p class="lead"><b>Shipping Address:</b> {{ order.shipping_address.get_address }}</p>
            <p class="lead"><b>Billing Address:</b> {{ order.billing_address.get_address }}</p>
            <p class="lead"><b>Order Subtotal:</b> {{ order.cart.total }}</p>
            <p class="lead"><b>Shipping total:</b> {{ order.shipping_total }}</p>
            <p class="lead"><b>Order total:</b> {{ order.total }}</p>
            <p class="lead"><b>Order Status:</b> {{ order.status }}</p>
            <p class="lead"><b>Shipping Status:</b> {{ order.get_shipping_status }}</p>
        </div>
    </div>
{% endblock %}