{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class='row'>
      <div class="col-12 text-center py-5">
            {% if key %}
                  <h1 class='display-5 my-5 py-5'>Activation Error! Please try again.</h1>
            {% else %}
                  <h1 class='display-5 my-5 py-5'>Re-activate your email.</h1>
            {% endif %}
      </div>
      <div class="col-12">
            <hr>
      </div>
      <div class="col-12 col-md-6 mx-auto">
            <form class="reactivation-form" method="POST">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <button type="submit" class="btn btn-warning my-3">Resend Activation Email</button>
            </form>
      </div>
</div>
{% endblock %}
